.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.home {
    font-size: var(--font-size-3);
}

@media screen and (max-width: 640px) {
    .container {
        margin: auto;
    }
}
