.carousel {
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel__other {
    display: flex;
    position: relative;
    width: 25%;
    margin-top: 50px;
    margin-bottom: 25px;
    filter: blur(4px);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.carousel__other:hover {
    box-shadow: 0 0 10px 2px var(--secondary-color);
    filter: blur(0px);
}

.carousel__icon {
    opacity: 0;
    color: var(--secondary-color);
    display: flex;
    font-size: var(--font-size-4);
    filter: blur(0px);
}

.carousel__other:hover .carousel__icon {
    opacity: 1;
}

.carousel__left .carousel__icon {
    transform: rotate(90deg);
}

.carousel__right .carousel__icon {
    transform: rotate(-90deg);
}

.carousel__current {
    display: flex;
    flex-shrink: 0;
    width: 550px;
    height: 550px;
    position: relative;
    margin: 0 50px;
}

.carousel__current .carousel__image {
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, transparent 100%);
}

.carousel__other .carousel__image {
    filter: grayscale(1);
    mask-image: linear-gradient(rgba(0, 0, 0, 1) -50%, transparent 100%);
}

.carousel__image {
    object-fit: cover;
    object-position: 50% 0%;
}

.carousel__title {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    text-transform: uppercase;
    font-size: var(--font-size-4);
    font-weight: 700;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        var(--primary-color) 50%
    );
}

.projet {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
}

.projet > * {
    margin: 0 auto;
    justify-content: center;
}

.projet__description {
    display: flex;
    width: 60%;
    height: 100%;
    margin-top: 25px;
    text-align: center;
    font-size: var(--font-size-1);
    line-height: 1.5;
    white-space: pre-wrap;
}

.projet__link {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font-size: var(--font-size-1);
    text-transform: uppercase;
    font-weight: 700;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    box-shadow: 0px 0px 25px 10px black;
}

.projet__link:hover {
    box-shadow: 0 0 10px 2px var(--secondary-color);
}

@media screen and (max-width: 1240px) {
    .carousel__current {
        margin: 0 10px;
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 740px) {
    .carousel {
        width: fit-content;
        margin: 0 auto;
        align-items: center;
    }

    .carousel__current {
        width: 100vw;
        height: 100vw;
        margin: 0;
    }

    .carousel__other {
        margin: 0;
        filter: blur(0);
        position: absolute;
        z-index: 1;
        width: 30px;
        height: 30px;
        background-color: var(--primary-color);
    }

    .carousel__other:hover {
        box-shadow: none;
    }

    .carousel__other .carousel__image {
        display: none;
    }

    .carousel__left {
        left: 0;
    }

    .carousel__right {
        right: 0;
    }

    .carousel__icon {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .carousel__title {
        font-size: var(--font-size-3);
    }

    .projet__description {
        margin-top: 10px;
        width: 100%;
    }

    .projet__link {
        margin-bottom: 25px;
    }
}
