.content {
    display: flex;
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 50px;
}

@media screen and (max-width: 1240px) {
    main {
        margin-right: 50px;
    }
}

@media screen and (max-width: 740px) {
    .content {
        flex-direction: column-reverse;
    }

    main {
        margin-top: 25px;
        margin-right: 0;
        flex: 1;
    }
}
